<!--if you'd like to have the navbar and or header on every page, move it up a level to app.html!-->

<main>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Effective Forms</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container title">
			<div class="col-md-12">
				<div class="well well-sm">
					<form ng-submit="saveContact()" class="form-horizontal" method="post">
						<fieldset>
							<legend class="text-center header">Contact us</legend>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input id="fname" name="name" type="text" placeholder="First Name" class="form-control" required min="3" ng-model="currentContact.fname">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
								<div class="col-md-8">
									<input id="lname" name="name" type="text" placeholder="Last Name" class="form-control" required min="3" ng-model="currentContact.lname">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<input id="address" name="address" type="text" placeholder="Address" class="form-control"  ng-model="currentContact.address">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<select id="country" name="country" type="text" placeholder="Country" class="form-control" ng-model="currentContact.country">
										<option value="{{country.alpha3_code}}" ng-repeat="country in countries">
											{{country.name}}
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<select id="state" name="state" type="text" placeholder="State" class="form-control" ng-model="currentContact.state">
										<option value="{{state.name}}" ng-repeat="state in states">
											{{state.name}}
										</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<input id="city" name="city" type="text" placeholder="City" class="form-control" ng-model="currentContact.city">
								</div>
							</div>



							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<input id="zip" name="zip" type="text" placeholder="Zip" class="form-control"  ng-model="currentContact.zip">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
								<div class="col-md-8">
									<input id="phone" name="phone" type="text" placeholder="Phone" class="form-control" required  ng-model="currentContact.phone">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
								<div class="col-md-8">
									<input id="email" name="email" type="email" placeholder="Email" class="form-control" required ng-model="currentContact.email">
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary btn-lg">Submit</button>
								</div>
							</div>
						</fieldset>
						{{currentContact}}
					</form>
				</div>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<legend class="text-center header">Contacts</legend>
			<accordion close-others="oneAtATime">
				<accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
					This content is straight in the template.
				</accordion-group>
				<accordion-group heading="{{group.title}}" ng-repeat="contact in contacts">
					{{contact.fname}}
				</accordion-group>
			</accordion>
		</div>
	</div>


</main>